target
.terraform
*hcl
*terraform.tfvars
*.tfstate*
samples/index.json
src/main/java/com/java_devrel/samples/stdlib
src/main/java/com/java_devrel/samples/ffmpeg/
src/main/java/com/java_devrel/samples/opencv/
out/
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
META-INF
*.out
*.dylib
*c_api.xcodeproj*
*yolov3*
*final.jpeg*
assets/video